---
http_interactions:
- request:
    method: get
    uri: http://content.guardianapis.com/search?api-key=b3c90be6-d0b9-4a5f-af65-4736cc73ef40&order-by=newest&page=4&section=world
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit-Day:
      - '5000'
      X-Ratelimit-Limit-Minute:
      - '720'
      X-Ratelimit-Remaining-Day:
      - '4958'
      X-Ratelimit-Remaining-Minute:
      - '719'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"ok","userTier":"developer","total":166292,"startIndex":31,"pageSize":10,"currentPage":4,"pages":16630,"orderBy":"newest","results":[{"id":"world/2016/aug/25/clinton-foundation-bill-hillary-us-election-state-department","type":"article","sectionId":"world","sectionName":"World
        news","webPublicationDate":"2016-08-25T13:52:07Z","webTitle":"What is the
        Clinton Foundation? And are the latest rumors ''smoke without fire''?","webUrl":"https://www.theguardian.com/world/2016/aug/25/clinton-foundation-bill-hillary-us-election-state-department","apiUrl":"https://content.guardianapis.com/world/2016/aug/25/clinton-foundation-bill-hillary-us-election-state-department","isHosted":false},{"id":"world/2016/aug/25/msf-mediterranean-bourbon-argos-armed-raid-libya-coast","type":"article","sectionId":"world","sectionName":"World
        news","webPublicationDate":"2016-08-25T12:46:10Z","webTitle":"Mediterranean
        rescue boat hit in armed raid off Libyan coast","webUrl":"https://www.theguardian.com/world/2016/aug/25/msf-mediterranean-bourbon-argos-armed-raid-libya-coast","apiUrl":"https://content.guardianapis.com/world/2016/aug/25/msf-mediterranean-bourbon-argos-armed-rai[...]
