---
http_interactions:
- request:
    method: get
    uri: http://content.guardianapis.com/search?api-key=b3c90be6-d0b9-4a5f-af65-4736cc73ef40&order-by=newest&section=world
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - max-age=1
      X-Ratelimit-Limit-Day:
      - '5000'
      X-Ratelimit-Limit-Minute:
      - '720'
      X-Ratelimit-Remaining-Day:
      - '4861'
      X-Ratelimit-Remaining-Minute:
      - '715'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"ok","userTier":"developer","total":166209,"startIndex":1,"pageSize":10,"currentPage":1,"pages":16621,"orderBy":"newest","results":[{"id":"world/2016/aug/22/indigenous-canadians-children-sixties-scoop-court","type":"article","sectionId":"world","sectionName":"World
        news","webPublicationDate":"2016-08-22T21:21:02Z","webTitle":"Indigenous Canadians
        taken from homes as children get day in court","webUrl":"https://www.theguardian.com/world/2016/aug/22/indigenous-canadians-children-sixties-scoop-court","apiUrl":"https://content.guardianapis.com/world/2016/aug/22/indigenous-canadians-children-sixties-scoop-court","isHosted":false},{"id":"world/2016/aug/22/finland-us-russia-military-security","type":"article","sectionId":"world","sectionName":"World
        news","webPublicationDate":"2016-08-22T19:21:37Z","webTitle":"Finland says
        it is nearing security deal with US amid concerns over Russia","webUrl":"https://www.theguardian.com/world/2016/aug/22/finland-us-russia-military-security","apiUrl":"https://content.guardianapis.com/world/2016/aug/22/finland-us-russia-military-security","isHosted":false},{"id":"wor[...]
